.initial-circle {
    width: 40px;
    height: 40px;
    background-color: #f5a623;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2rem;
}

.custom-btn {
    background-color: #ff8e07;
    border-color: #ff8e07;
    color: white;
}

.square-btn {
    border-radius: 0;
}

.text-custom{
    color: #ff8e07;
    font-weight: bold;
}

.custom-btn-group{
    background-color: hsl(20, 6%, 90%);
    color: rgb(0, 0, 0);
}